main{
    display: grid; /* 開啟 grid 佈局 */
    grid-template-rows: auto auto auto auto; /* 設定 3 行，每行自動調整高度 */

}


.background{
    width: 100vw;
    height: 100vh;
    background-color: hsl(352, 25.00%, 93.70%);
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

/* section */
.section {
    background-color: hsl(352, 25%, 93.7%);
    padding: 5rem 0;
  }
  

.timeline-item {
    border-top: 2px dashed var(--clr-grey-1);
    margin: 0;
    padding: 4rem 2rem;
    position: relative;
    text-align: center;
  }
  
  .timeline-item:nth-child(even) {
    border-left: 2px dashed var(--clr-grey-1);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin-right: 2rem;
    padding-right: 0;
  }
  
  .timeline-item:nth-child(even) .number {
    left: 0;
  }
  
  .timeline-item:nth-child(odd) {
    border-right: 2px dashed var(--clr-grey-1);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: 2rem;
    padding-left: 0;
  }
  
  .timeline-item:nth-child(odd) .number {
    right: 0;
    transform: translate(50%, -50%);
  }
  
  .timeline-item:first-child {
    border-top: 0;
    border-top-right-radius: 0;
  }
  
  .timeline-item:last-child {
    border-bottom-left-radius: 0;
  }
  
  .timeline-item p {
    margin-bottom: 0;
  }
  
  .timeline-item .number {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    background: var(--clr-grey-6);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--clr-primary-1);
    font-weight: bold;
  }
  .section-title{
    text-align: center;
  }
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  .underline {
    width: 5rem;
    height: 0.25rem;
    background-color: var(--clr-grey-1);
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
    
  .img-place{
    margin-bottom: 4rem;

    text-align: center;
    margin-right: 60rem; 
  }