.image-uploader {
    width: 30vw;
    align-self: center;
    display: grid;
    grid-template-rows: 30vw auto;
    border: 1px solid white;
    border-radius: 5px;
}

.button-group {
    padding-top: 10px;
    display: flex;
    justify-content: space-between; /* Moves input to left, button to right */
    align-items: center;
    gap: 10px; /* Adds spacing between elements */
    width: 100%;
}

.button-group input {
    background-color: transparent;
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
    margin-left: 6px;
    margin-bottom: 3px;
}

.button-group button {
    border-radius: 3px;
    font-size: medium;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 3px;
    height: max-content;
} 

.button_group .button:hover {
    background-color: #0056b3;
}

.image-frame {
    width: 100%;
    height: 100%;
    background-color: #e2e9e9;
    border-radius: 5px;
    overflow: hidden; /* Prevents any overflow if the image exceeds the container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image_frame img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image fully covers the container */
    border-radius: 5px;
}

.image-uploader p {
    margin-left: 6px;
    color: white;
}

.image-uploader button:hover{
    background-color: red;
}